.button {
  display: block;
  padding: 15px 0;
  width: 280px;

  font-family: $default-font-family;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
