.button {
  display: block;
  padding: 16px 0 16px 0;
  width: 280px;

  @include font-main($color-text: $color-text-reverted);

  text-align: center;
  text-decoration: none;

  background-color: $color-background-button;
  border: none;

  &:hover {
    background-color: $color-background-button-hover;
  }

  &:active {
    color: $color-button-text-down;

    background-color: $color-background-button-active;
  }

  &[disabled] {
    background-color: $color-background-grey;
  }
}
