.button {
  display: block;
  padding: 16px 0 16px 0;
  width: 280px;

  @include font-main($color-text: $color-white);

  text-align: center;
  text-decoration: none;

  background-color: $color-lightblue;
  border: none;

  &:hover {
    background-color: $color-lighterblue;
  }

  &:active {
    color: $color-white-30;

    background-color: $color-blue;
  }

  &[disabled] {
    background-color: $color-grey-e5;
  }
}
