.copyright__text {
  @include font-secondary($line-height: 26px, $color-text: $color-text-main);
}

.copyright__link {
  display: inline-block;

  margin-left: 9px;

  font-size: 0;

  vertical-align: middle;
}

.copyright__htmlacademy {
  width: 27px;
  height: 34px;

  & path {
    fill: $color-text-main;
  }

  &:hover path {
    fill: $color-link-hover;
  }

  &:active path {
    fill: $color-link-down;
  }
}
