.copyright__text {
  @include font-secondary($line-height: 26px, $color-text: $color-black);
}

.copyright__link {
  display: inline-block;

  margin-left: 9px;

  font-size: 0;

  vertical-align: middle;

  &:hover .copyright__htmlacademy {
    fill: $color-lightblue;
  }

  &:active .copyright__htmlacademy {
    fill: $color-black-30;
  }
}

.copyright__htmlacademy {
  width: 27px;
  height: 34px;

  fill: $color-black;
}
