.copyright__text {
  @include font-secondary($line-height: 26px, $color-text: $color-text-main);
}

.copyright__link {
  display: inline-block;

  width: 27px;
  height: 34px;
  margin-left: 9px;

  font-size: 0;

  vertical-align: middle;

  background-color: transparent;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}
