.feedback-form {
  background-color: $color-background-main;

  outline: 1px solid darkgreen;
}

.feedback-form__item {
  display: flex;

  border: none;
}

.feedback-form__legend {
  @include font-main($font-size: 18px);
}

.feedback-form__labeled-input {
  @include font-secondary($line-height: 26px);
}
