.feedback-form {
  margin: 0 -20px;

  background-color: $color-background-main;
}

.feedback-form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  flex-basis: 320px;
  margin: 0;
  padding: 0 20px;

  border: none;

  outline: 2px solid red;
  outline-offset: -2px;

  // &::before {
  //   position: absolute;
  //   top: 0;
  //
  //   display: block;
  //
  //   width: 320px;
  //   height: 1px;
  //   margin: 0 -20px;
  //
  //   background-color: $color-border-grey;
  //
  //   content: "";
  // }
}

.feedback-form__legend {
  padding: 0;
  padding-top: 19px;

  @include font-main($font-size: 18px);

  text-align: center;
}

.feedback-form__labeled-input {
  @include font-secondary($line-height: 26px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.feedback-form__input,
.feedback-form__textarea {
  margin: 0 auto;
  padding: 15px 10px;

  @include font-main($font-size: 18px);

  background-color: $color-background-body;
  border: none;

  text-transform: none;
}

.feedback-form__textarea {
  width: 280px;
  height: 160px;
}

.feedback-form__button {
  margin: 18px auto 42px auto;
}

.feedback-form__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 60px;
  }

  .feedback-form__item {
    flex-basis: 648px;

    &--half {
      flex-basis: 324px;
    }

    &--impression {
      order: -2;
    }
  }

  .feedback-form__wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .feedback-form__button {
    margin: 0;
  }

  .feedback-form__note {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    padding: 0 120px;
  }

  .feedback-form__item {
    flex-basis: 960px;

    &--half {
      flex-basis: 480px;
    }
  }
}
