.map {
  margin: 0;
  padding: 0;

  background-color: $color-background-main;

  outline: 1px solid blue;
}

.map__title {
  @include font-main;
}

.map__text {
  @include font-secondary;
}

.map__map {
  width: 320px;
  height: 350px;

  background-color: $color-background-map;
  background-image: url("../img/bg-map-mobile@1x.jpg");
}
