.map {
  padding: 28px 0 0 0;

  background-color: $color-white;

  text-align: center;
}

.map__title {
  display: inline-block;
  margin-bottom: 19px;

  @include font-main;
}

.map__text {
  @include font-secondary;

  margin: 0 20px 35px 20px;
}

.map__button {
  width: 280px;
  margin: 0 auto 49px auto;
}

.map__map {
  height: 350px;

  background-color: $color-darker-white;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

.map__map iframe {
  width: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    padding: 28px 0 0 0;
  }

  .map__title {
    margin-top: 28px;
    margin-bottom: 30px;

    font-size: 30px;
  }

  .map__text {
    margin: 0 155px 42px 155px;
  }

  .map__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 1536px auto;
    }
  }

  .map__button {
    width: 455px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .map__text {
    margin: 0 371px 47px 371px;
  }

  .map__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }

  .map__button {
    margin-bottom: 65px;
  }
}
