.nav-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.nav-list__item {
  text-align: center;

  &--logo {
    position: relative;

    order: 2;

    height: 56px;

    background-color: $color-background-main;
  }
}

.nav-list__link {
  height: 56px;
  display: block;

  @include font-main($font-size: 18px, $line-height: 56px, $color-text: $color-text-reverted);

  text-decoration: none;

  background-color: $color-background-button;
  box-shadow:
    0 -1px 0 0 $color-shadow-main,
    inset 0 1px 0 0 $color-shadow-inner;

  &[href]:hover {
    background-color: $color-background-button-hover;
  }

  &[href]:active {
    opacity: 0.2;

    background-color: $color-background-button-active;
  }

  &--last {
    box-shadow:
      0 -1px 0 0 $color-shadow-main,
      inset 0 1px 0 0 $color-shadow-inner,
      inset 0 -7px 14px -7px $color-shadow-gradient;
  }

  &--logo {
    display: inline-block;
    padding: 0;

    line-height: 0;

    background-color: transparent;
    box-shadow: none;
  }
}

.nav-list__toggler {
  position: absolute;
  top: 15px;
  right: 20px;

  display: block;
  width: 23px;
  height: 22px;

  font-size: 0;

  cursor: pointer;
  border: 0;

  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/icon-menu.svg");

  &--close {
    background-image: url("../img/icon-cross.svg");
  }

  &--nojs {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    flex-direction: row;
  }

  .nav-list__item {
    &--logo {
      order: 0;
    }
  }

  .nav-list__link {
    background-color: none;
  }

  .nav-list__toggler {
    display: none;
  }
}
