.page-header {
  padding: 0 20px;

  background-color: $color-reverted;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  outline: 1px solid red;
}
