.page-header {
  padding: 0 20px 85px 20px;

  background-color: $color-background-main;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 265px;

  outline: 1px solid red;
}
