.page-content {
  width: 320px;
  margin: 0 auto;
  padding: 9px 0;

  background-color: $color-background-main;

  &--index {
    padding: 10px 0;
  }
}

.page-content__wrapper {
  &::after {
    display: block;

    margin: 0;
    width: 320px;
    height: 37px;

    background-color: $color-background-button;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    content: "";
  }
}

.page-content__title {
  margin: 30px 27px 25px 27px;

  @include font-main($font-size: 18px);

  text-align: center;

  &--index {
    margin: 30px 27px 28px 27px;
  }
}

.page-content__intro {
  margin: 0 25px 6px 25px;

  @include font-secondary($line-height: 25px);

  text-align: center;

  &--form {
    margin: 0 20px 14px 20px;
  }

  &--media {
    margin-bottom: 25px;
  }
}

.page-content__item {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-content {
    width: 768px;
  }

  .page-content__wrapper {
    width: 768px;

    &::after {
      display: none;
    }
  }

  .page-content__title {
    margin: 65px 100px 32px 100px;

    font-size: 30px;

    &--index {
      margin-top: 40px;
      margin-bottom: 29px;

      font-size: 21px;
    }
  }

  .page-content__intro {
    margin: 0 170px 53px 170px;

    line-height: 24px;

    &--index {
      margin: 0 130px 53px 130px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-content {
    width: 1200px;
  }

  .page-content__wrapper {
    width: 1200px;

    &::after {
      display: none;
    }
  }

  .page-content__title {
    margin: 101px 355px 32px 355px;
  }

  .page-content__intro {
    margin: 0 380px 50px 380px;
  }


}
