.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 26px 20px 23px 20px;

  background-color: $color-grey-fe;
}

.page-footer__item {
  margin-bottom: 41px;

  &--hashtag {
    margin-bottom: 36px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: center;

    padding: 23px 60px 60px 60px;

    &--index {
      padding-top: 26px;
    }
  }

  .page-footer__item {
    flex-basis: auto;
    width: 256px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 23px 0 36px 0;
  }

  .page-footer__item {
    width: 400px;

    &:first-child {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
      padding-right: 45px;
    }
  }
}
