.page-content {
  display: block;

  margin: 0;
  padding: 9px 0;

  background-color: $color-background-main;
}

.page-content__wrapper--index {
  &::after {
    display: block;

    margin: 0;
    height: 37px;

    background-color: $color-background-button;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    content: "";
  }
}

.page-content__title {
  margin: 30px 27px 25px 27px;

  @include font-main($font-size: 18px);

  text-align: center;

  &--index {
    margin: 31px 27px 29px 27px;
  }
}

.page-content__intro {
  margin: 0 25px 24px 25px;

  @include font-secondary($line-height: 25px);

  text-align: center;

  &--index {
    margin-bottom: 6px;
  }

  &--form {
    margin: 0 20px 17px 20px;

    line-height: 24px;
  }
}

.page-content__item {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-content {
    &--index {
      padding-bottom: 10px;
    }
  }

  .page-content__wrapper {
    &::after {
      display: none;
    }
  }

  .page-content__item {
    padding: 0 60px;
  }

  .page-content__title {
    margin: 65px 100px 32px 100px;

    font-size: 30px;

    &--index {
      margin-top: 40px;
      margin-bottom: 29px;

      font-size: 21px;
    }
  }

  .page-content__intro {
    margin: 0 170px 53px 170px;

    line-height: 24px;

    &--index {
      margin: 0 130px 53px 130px;
    }

    &--form {
      margin: 0 165px 73px 165px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-content {
    &--index {
      padding: 10px 0 13px 0;
    }
  }

  .page-content__title {
    margin: 101px 355px 32px 355px;

    &--index {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .page-content__intro {
    margin: 0 380px 50px 380px;

    &--index {
      margin: 0 350px 50px 350px;
    }

    &--form {
      margin-bottom: 59px;
    }
  }
}
