.photo {
  display: flex;
  flex-direction: column;

  padding: 0;

  background-color: $color-background-main;
}

.photo__item {
  padding: 22px 20px 17px 20px;
  // padding-top: 22px;
  // padding-bottom: 17px;

  border-top: 1px solid $color-background-grey;
}

.photo__image {
  display: block;

  max-width: 100%;
  height: auto;

  background-color: $color-background-photo;
}

.photo__title {
  margin: 0;
  margin-top: 15px;

  @include font-main($font-size: 14px, $line-height: 24px);
}

.photo__author {
  margin: 0;
  margin-bottom: 8px;

  @include font-secondary;
  text-transform: none;
}

.photo__like {
  display: inline-block;

  margin: 0;
  padding-left: 37px;

  @include font-main($font-size: 14px, $line-height: 24px);

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .photo {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 60px;
  }

  .photo__item {
    flex-basis: 324px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--best {
      flex-basis: 768px;
    }
  }

  .photo__image {
    flex-basis: 324px;

    &--best {
      flex-basis: 768px;
    }
  }

  .photo__info {
    flex-basis: 324px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    height: 80px;

    &--best {
      flex-basis: 768px;
    }
  }

  .photo__like {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    padding: 0;
  }

  .photo__item {
    flex-basis: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--best {
      flex-basis: 1200px;
    }
  }

  .photo__image {
    flex-basis: 400px;

    &--best {
      flex-basis: 1200px;
    }
  }

  .photo__info {
    flex-basis: 400px;

    &--best {
      flex-basis: 1200px;
    }
  }
}
