.photo {
  display: flex;
  flex-direction: column;

  padding: 0;

  background-color: $color-background-main;
}

.photo__item {
  padding: 22px 20px 17px 20px;

  border-top: 1px solid $color-background-grey;
}

.photo__image {
  display: block;

  max-width: 100%;
  height: auto;

  background-color: $color-background-photo;
}

.photo__title {
  margin: 0;
  margin-top: 15px;

  @include font-main($font-size: 14px, $line-height: 24px);
}

.photo__author {
  margin: 0;
  margin-bottom: 8px;

  @include font-secondary;
  text-transform: none;
}

.photo__like {
  display: inline-block;

  margin: 0;
  padding-left: 37px;

  @include font-main($font-size: 14px, $line-height: 24px);

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .photo {
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 68px;
    padding: 0 60px;
  }

  .photo__item {
    flex-basis: 324px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;

    border: none;

    &--best {
      flex-basis: 768px;
    }
  }

  .photo__item:nth-child(2n) .photo__info {
    background-color: $color-background-info;

    &--best {
      background-color: $color-background-body;
    }
  }

  .photo__link {
    flex-basis: 324px;

    &--best {
      flex-basis: 768px;
    }
  }

  .photo__image {
    width: 324px;
    height: 267px;

    max-width: 100%;

    &--best {
      width: 648px;
      height: 400px;
    }
  }

  .photo__info {
    flex-basis: 324px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 80px;
    padding: 0 30px 0 20px;

    background-color: $color-background-body;

    &--best {
      flex-basis: 768px;

      padding: 0 20px;
    }
  }

  .photo__info-wrapper {
    flex-basis: 220px;
    display: flex;
    flex-direction: column;

    &--best {
      flex-basis: 544px;
    }
  }

  .photo__title {
    margin: 0;
  }

  .photo__author {
    margin: 0;
  }

  .photo__like {
    padding-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    padding: 0;
  }

  .photo__item {
    flex-basis: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--best {
      flex-basis: 1200px;
    }
  }

  .photo__image {
    flex-basis: 400px;

    &--best {
      flex-basis: 1200px;
    }
  }

  .photo__info {
    flex-basis: 400px;

    &--best {
      flex-basis: 1200px;
    }
  }
}
