.photo {
  display: flex;
  flex-direction: column;

  padding: 0;

  background-color: $color-background-main;
}

.photo__item {
  padding: 22px 20px 17px 20px;

  border-top: 1px solid $color-background-grey;
}

.photo__image {
  display: block;

  max-width: 100%;
  height: auto;

  background-color: $color-background-photo;
}

.photo__title {
  margin: 0;
  margin-top: 15px;

  @include font-main($font-size: 14px, $line-height: 24px);
}

.photo__author {
  margin: 0;
  margin-bottom: 8px;

  @include font-secondary;
  text-transform: none;
}

.photo__like {
  position: relative;

  display: inline-block;

  margin: 0;
  padding-left: 37px;

  @include font-main($font-size: 14px, $line-height: 24px);
}

.photo__svg {
  position: absolute;
  top: 0;
  left: 0;
}

.photo__svg path {
  fill: $color-link-down;
}

@media (min-width: $tablet-width) {
  .photo {
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 68px;
    padding: 0 60px;
  }

  .photo__item {
    flex-basis: auto;
    width: 324px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;

    border: none;

    &--best {
      width: 768px;
    }
  }

  .photo__item:nth-child(2n) .photo__info {
    background-color: $color-background-info;

    &--best {
      background-color: $color-background-body;
    }
  }

  .photo__link {
    flex-basis: auto;
    width: 100%;
  }

  .photo__image {
    width: 324px;
    height: 267px;

    max-width: 100%;

    &--best {
      width: 648px;
      height: 400px;
    }
  }

  .photo__info {
    flex-basis: auto;
    width: 324px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 80px;
    padding: 0 30px 0 20px;

    background-color: $color-background-body;

    &--best {
      width: 648px;

      padding: 0 20px;
    }
  }

  .photo__info-wrapper {
    flex-basis: auto;
    width: 220px;
    display: flex;
    flex-direction: column;

    &--best {
      width: 544px;
    }
  }

  .photo__title {
    margin: 0;
  }

  .photo__author {
    margin: 0;
  }

  .photo__like {
    padding-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    margin-top: 71px;
    padding: 0;
  }

  .photo__item {
    position: relative;

    width: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--best {
      width: 1200px;
    }
  }

  .photo__svg path {
    fill: $color-text-reverted;
  }

  .photo__image {
    width: 400px;

    &--best {
      width: 1200px;
    }
  }

  .photo__info {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 400px;

    background-color: $color-background-black-60;

    &--best {
      width: 1200px;
    }
  }

  .photo__item:nth-child(2n) .photo__info {
    background-color: $color-background-black-60;

    &--best {
      background-color: $color-background-black-60;
    }
  }

  .photo__info-wrapper {
    width: 295px;

    &--best {
      width: 1095px;
    }
  }

  .photo__title,
  .photo__author,
  .photo__like {
    color: $color-text-reverted;
  }
}
