.reasons {
  margin: 0;
  padding: 0;

  background-color: $color-background-main;

  outline: 1px solid grey;
}

.reasons__promo {
  margin: 0;

  @include font-main($font-size: 18px);
}

.reasons__intro {
  @include font-secondary($line-height: 26px);
}

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons__item {
  background-color: $color-background-reasons;

  &--important {
    background-color: $color-background-button;
  }
}

.reasons__title {
  @include font-main($font-size: 18px);

  &--important {
    color: $color-text-reverted;
  }
}

.reasons__number {
  @include font-secondary($line-height: 21px);

  &--important {
    color: $color-text-reverted;
  }
}

.reasons__clarification {
  margin: 0;

  @include font-secondary($line-height: 21px);

  &--important {
    color: $color-text-reverted;
  }
}

.reasons__photo {
  display: block;

  width: 320px;
  height: 260px;

  background-color: $color-background-index-photo;
}

.reasons__extend {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-text-reverted;
}

.reasons__extend-title {
  @include font-main($font-size: 18px);
}

.reasons__extend-text {
  margin: 0;

  @include font-secondary($line-height: 21px);
}
