.reasons {
  position: relative;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: $color-background-main;

  outline: 1px solid grey;
}

.reasons__list {
  @include list-reset;
}

.reasons__item {
  margin: 0;
  padding: 27px 0 13px 0;

  background-color: $color-background-reasons;

  outline: 1px dashed grey;

  &--important {
    padding-bottom: 0;

    background-color: $color-background-button;
  }
}

.reasons__title {
  display: block;
  margin: 0;

  @include font-main($font-size: 18px);

  &--important {
    margin-top: 10px;

    color: $color-text-reverted;
  }
}

.reasons__number {
  margin: 0;
  margin-top: 11px;

  @include font-secondary($line-height: 21px);

  &--important {
    color: $color-text-reverted;
  }
}

.reasons__clarification {
  margin-top: 14px;

  @include font-secondary($line-height: 21px);

  &--important {
    margin: 15px 20px 39px 20px;

    color: $color-text-reverted;
  }
}

.reasons__photo {
  display: block;
  margin: 0;

  max-width: 100%;
  height: auto;

  background-color: $color-background-index-photo;
}

.reasons__extend {
  @include list-reset;

  padding: 35px 41px 39px 70px;

  text-align: left;

  background-color: $color-text-reverted;
}

.reasons__extend-title {
  display: inline-block;
  margin-bottom: 13px;

  @include font-main($font-size: 18px);
}

.reasons__extend-text {
  margin: 0;
  margin-bottom: 29px;

  @include font-secondary($line-height: 21px);

  &--last {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .reasons__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__item {
    flex-basis: 256px;

    &--important {
      flex-basis: 768px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      padding: 0;
    }
  }

  .reasons__wrapper {
    flex-basis: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &--second {
      order: 2;
    }
  }

  .reasons__photo {
    flex-grow: 1;
  }

  .reasons__extend {
    flex-basis: 768px;

    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .reasons__item {
    flex-basis: 400px;

    &--important {
      flex-basis: 1200px;
    }
  }

  .reasons__wrapper {
    flex-basis: 400px;
  }

  .reasons__extend {
    flex-basis: 1200px;
  }
}
