.social__link {
  position: relative;

  display: inline-block;

  width: 48px;
  height: 48px;

  margin-left: 1px;
  margin-right: 1px;

  font-size: 0;

  background-color: $color-background-button;

  &:hover {
    background-color: $color-background-button-hover;
  }

  &:hover path {
    fill: $color-text-reverted;
  }

  &:active {
    background-color: $color-background-button-active;
  }

  &:active path {
    fill: $color-button-text-down;
  }
}

.social__svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;

  margin: auto;
}

.social__svg--twitter {
  width: 19px;
  height: 15px;
}

.social__svg--facebook {
  width: 9px;
  height: 19px;
}

.social__svg--youtube {
  width: 20px;
  height: 14px;
}

@media (min-width: $tablet-width) {
  .social__link {
    margin-left: 3px;
    margin-right: 3px;
  }
}
