.video {
  margin: 0;
  padding: 0;

  background-color: $color-background-main;

  outline: 1px solid orange;
}

.video__promo {
  margin: 0;

  @include font-main($font-size: 18px);
}

.video__text {
  @include font-secondary;
}

.video__player {
  width: 320px;
  height: 201px;

  outline: 1px dashed blue;
}
