@mixin font-main($font-size: 21px, $line-height: 26px, $color-text: $color-text-main) {
  font-family: $default-font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 700;
  color: $color-text;

  text-transform: uppercase;
}

@mixin font-secondary($font-size: 14px, $line-height: 24px, $color-text: $color-text-secondary) {
  font-family: $default-font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  color: $color-text;

  text-transform: uppercase;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin outline {
  outline: 2px solid red;
  outline-offset: -2px;
}
