/* Шрифт по-умолчанию */
$default-font-family: "PT Sans", "Helvetica", sans-serif;

/* Цвета */
$color-text-main:               #000000;
$color-text-reverted:           #ffffff;
$color-text-secondary:          #333333;
$color-background-main:         #ffffff;
$color-background-button:       #81b3d2;
$color-background-footer:       #fefefe;
$color-background-map:          #f3f1ed;
$color-background-photo:        #776a0a;
$color-background-index-photo:  #fdfffe;
$color-background-reasons:      #eeeeee;
$color-background-input:        #f2f2f2;
