/* Размеры экрана */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Шрифт по-умолчанию */
$default-font-family: "PT Sans", "Helvetica", sans-serif;

/* Цвета */
$color-black:             #000000;
$color-lighter-black:     #333333;
$color-black-20:          rgba(0, 0, 0, 0.2);
$color-black-30:          rgba(0, 0, 0, 0.3);
$color-black-60:          rgba(0, 0, 0, 0.6);
$color-light-black-20:    rgba(1, 1, 1, 0.2);
$color-lighter-black-20:  rgba(0, 1, 1, 0.2);
$color-lighter-black-15:  rgba(0, 1, 1, 0.15);

$color-white:             #ffffff;
$color-darker-white:      #f3f1ed;
$color-white-20:          rgba(255, 255, 255, 0.2);
$color-white-30:          rgba(255, 255, 255, 0.3);
$color-light51-30:        rgba(51, 51, 51, 0.3);

$color-darkgrey:          #5c6870;
$color-grey-d5:           #d5d5d5;
$color-grey-db:           #dbdbdb;
$color-grey-e5:           #e5e5e5;
$color-grey-e6:           #e6e6e6;
$color-grey-ea:           #eaeaea;
$color-grey-ee:           #eeeeee;
$color-grey-f2:           #f2f2f2;
$color-grey-fe:           #fefefe;
$color-grey-fdfffe:       #fdfffe;

$color-blue:              #5496bd;
$color-lighterblue:       #669ec0;
$color-lightblue:         #81b3d2;

$color-lighterbrown:      #776a0a;
$color-lightbrown:        rgb(118, 99, 87);
$color-brown:             rgb(96, 78, 67);
$color-lightbrown-30:     rgba(118, 99, 87, 0.3);
